<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <title>Fitness Monsters</title>
</head>

<body>
  {{{body}}}

   <div class="footer">
        <div class="container-fluid padding">
            <div class="row text-center">
                <div class="col-md-4">
                    <h2>Contact</h2>
                    <hr class="light">
                    <p>info@Joggsters.com</p>
                </div>
                <div class="col-md-4">
                    <h2>Website</h1>
                        <hr class="light">
                        <p>Joggstersclub.com</p>
                </div>
                <h1></h1>
                <div class="col-md-4">
                    <h2> Location</h1>
                        <hr class="light">
                        <p>Tucson, AZ</p>
                </div>
            </div>

        </div>
   </footer>
</body>

</html>
