<header>
  <!-- Navigation Bar -->
  <nav class="navbar navbar-expand-md sticky-top">
    <div class="container-fluid">
      <a href="/"><img id="logo" src="/imgs/logo/logo.png"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/joggster">Play game</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
          </li>
          {{#if user}}
          <li class="nav-item">
            <a class="nav-link active" href="/logout">logout</a>
          </li>
          {{else }}
          <li class="nav-item">
            <a class="nav-link" href="/auth/login">Login</a>
          </li>
          {{/if}}
        </ul>
      </div>
    </div>
  </nav>
</header>

<main>
<p>welcome to the game</p>
</main>

<footer>
  <div class="footer">
    <div class="container-fluid padding">
      <div class="row text-center">
        <div class="col-md-4">
          <h2>Contact</h2>
          <hr class="light">
          <p>info@Joggsters.com</p>
        </div>
        <div class="col-md-4">
          <h2>Website</h1>
            <hr class="light">
            <p>Joggstersclub.com</p>
        </div>
        <h1></h1>
        <div class="col-md-4">
          <h2> Location</h1>
            <hr class="light">
            <p>Tucson, AZ</p>
        </div>
      </div>
    </div>
  </div>
</footer>
