<div id="container">
  <div id="main">
    <header>
      <!-- Navigation Bar -->
      <nav class="navbar navbar-expand-md sticky-top">
        <div class="container-fluid">
          <a href="/"><img id="logo1" src="imgs/logo/logo.png"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/joggster">Play game</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/profile">Profile</a>
              </li>
              {{#if user}}
              <li class="nav-item">
                <a class="nav-link active" href="/logout">logout</a>
              </li>
              {{else }}
              <li class="nav-item">
                <a class="nav-link" href="/auth/login">Login</a>
              </li>

              {{/if}}
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <div class="container-fluid">
        <div class="row">

          <!-- jumbotron -->
          <div class="col-12">
            <div class="jumbotron bg-none">
              <h1 class="display-4 text-center">Welcome to Joggsters!</h1>
              <p class="lead">Come and join others on a journey with your very own ditial pet.</p>
              <hr class="my-4">
              <p>People walk every day, but it’s not very rewarding. What if you got points for getting out of the house? This is what our Web app aims to do. With our Application you will be rewarded for each step you take. These points can then be
                used
                to take care of your very own virtual pet!</p>
            </div>
          </div>

        </div>

      </div>

      <!-- Welcome section -->
      <div class="container-fluid padding">
        <div class="row welcome text-center">
          <div class="col-12">
            <h1 class="display-4">Join the fun</h1>
          </div>
          <hr>
          <div class="col-12">
            <p class="lead">Joggsters.com was created by Zachary Paulson, Nate Jones, and Nicolle Chamberlain
              in 2019. The app was a part of a Coding Bootcamp. The program is a full stack web
              development completed in 24 weeks. This app was built as a week 16 project requirement.</p>
          </div>
        </div>
      </div>

      <!-- three Column Section -->
      <div class="container-fluid padding walk-earn-play">
        <div class="row text-center padding">
          <div class="col-xs-12 col-sm-6 col-md-4">
            <hr class="my-4">  
            <i class="fas fa-walking"></i>
            <h3>Walk</h3>
            <p>Keep track of all your steps.</p>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <hr class="my-4">  
            <i class="fas fa-coins"></i>
            <h3>Earn</h3>
            <p>Earn points for your progress</p>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <hr class="my-4">  
            <i class="fas fa-cat"></i>
            <h3>Play</h3>
            <p>Spend your rewards on your pet.</p>
          </div>
        </div>
      </div>
    </main>

  </div>

</div>


<footer>
  <div class="footer">
    <div class="container-fluid padding">
      <div class="row text-center">
        <div class="col-md-4">
          <h2>Contact</h2>
          <hr class="light">
          <p>info@Joggsters.com</p>
        </div>
        <div class="col-md-4">
          <h2>Website</h1>
            <hr class="light">
            <p>Joggstersclub.com</p>
        </div>
        <h1></h1>
        <div class="col-md-4">
          <h2> Location</h1>
            <hr class="light">
            <p>Tucson, AZ</p>
        </div>
      </div>
    </div>
  </div>
</footer>






