<!-- Navigation Bar -->
<nav class="navbar navbar-expand-md sticky-top">
    <div class="container-fluid">
        <a href="/"><img id="logo" src="imgs/header-logo.jpg"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/joggster">Play game</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/logout">logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/auth/login">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div id="wrap">
  <div id="main" class="container clear-top">
    <div class="section">
        <h3>
            Welcome to Joggsters.com. Log in with your Google account and select your
            vertual monster. Keep it alive with your step counts.
            <br><br>
            Joggsters.com was created by Zachary Paulson, Nate Jones, and Nicolle Chamberlain
            in 2019. The app was a part of a Coding Bootcamp. The program is a full stack web
            development completed in 24 weeks. This app was built as a week 16 project requirement.
            <br><br>
            Three brilliant minds collaborated to make a modern take on the 90's vertual pet fad
            of the Tamacotchi.
        </h3>
    </div>
  </div>
</div>






