<header>
    <ul>
        <li><a href="/logout">logout</a></li>
        <li><a href="/auth/login">Login</a></li>
        <li><a href="/">Home Page</a></li>
        <li><a href="/profile">Profile</a></li>
    </ul>
</header>


<h1>This is a simple OAuth Application</h1>