<!-- Navigation Bar -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
        <a href="/"><img src="assets/img/logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/joggster">Play game</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/logout">logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/auth/login">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div id="wrap">
    <div id="main" class="container clear-top">
        <div class="row">
            <div class="col-6">
                <h2>Please log in</h2>
                <a class="google-btn" href="/auth/google">
                    <span>Log in with Google</span>
                </a>
            </div>
        </div>
        <h1>Simple Oath</h1>
    </div>
</div>