<!-- Navigation Bar -->
<nav class="navbar navbar-expand-md sticky-top">
    <div class="container-fluid">
        <a href="/"><img id="logo" src="/imgs/header-logo.jpg"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <img src="" alt="">
                <li class="nav-item">
                    <a class="nav-link" href="/joggster">Play game</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/logout">logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/auth/login">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div id="wrap">
    <div id="main" class="container clear-top m-auto">
        <div class="row">
            <div class="col-12 text-center">
                
                <div class="card mx-auto" style="width: 18rem;">
                    <h2 class="py-4">Please log in</h2>
                    <img src="/imgs/header-logo.jpg" class="card-img-top" alt="logo">
                    <a class="btn btn-warning google-btn" href="/auth/google">
                        <span>Log in with Google</span>
                    </a>
                </div>

                <div id="gif">

                    {{!-- <a href="/gif/joggster-TuNmox" title="joggster"><img src="https://i.makeagif.com/media/5-16-2019/TuNmox.gif" --}}
                            {{!-- alt="joggster"></a> --}}
                </div>


            </div>
        </div>

    </div>
</div>