<nav>
    <ul>
        <li><a href="/logout">logout</a></li>
        <li><a href="/auth/login">Login</a></li>
        <li><a href="/">Home Page</a></li>
    </ul>
</nav>

<head>
    <h1>Login using...</h1>
</head>
<main>
    <a class="google-btn" href="/auth/google">Google+</a>
</main>