<!-- Navigation Bar -->
<nav class="navbar navbar-expand-md sticky-top">
    <div class="container-fluid">
        <a href="/"><img id="logo" src="imgs/header-logo.jpg"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/joggster">Play game</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/logout">logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/auth/login">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div id="wrap">
  <div id="main" class="container clear-top">
    <div class="section">
    <h1 id="profile-welcome">WELCOME TO YOUR PROFILE PAGE</h1>
    <script src="users.js"></script>
    </div>
  </div>
</div>



<div class="container-fluid padding">
    <div class="row"></div>
</div>