<nav>
    <ul>
        <li><a href="/logout">logout</a></li>
        <li><a href="/auth/login">Login</a></li>
        <li><a href="/">Home Page</a></li>
    </ul>
</nav>

<head>
    <h1>WELCOME TO YOUR PROFILE PAGE</h1>
</head>
