/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Russo One', sans-serif;
  background: url(../imgs/backgrounds/background.png);
}

/* Navigation bar */
.navbar {
  padding: .8rem;
  background: goldenrod;
}

.navbar-nav li {
  padding-right: 25px;
  background-color: goldenrod;
}

.nav-link {
  font-size: 1.1em !important;
}

/* landing page img carousel */
.carousel{
  padding: 1rem;
}
.carousel-inner .backgroundImg {
  width: 100%;
  height: 100%;
}

.carousel-caption {
  position: absolute;
  top: 50%;
}

.carousel-caption h1 {
  font-size: 500%;
  text-transform: uppercase;
  text-shadow: 1px 1px 10px #000;
}

/* landing page jumbotron */
.jumbotron {
  background: rgba(220, 220, 220, 0.2);
  padding: 1rem;
  border-radius: 0;
}

/* Footer */
footer {
  background: goldenrod;
  padding-top: 2rem;
}

/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
