/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100% font-family: 'Russo One', sans-serif;
  background: url(../imgs/backgrounds/background.png);
}

body {
  position: relative;
  padding-bottom: 112px:
}

/* Navigation bar */
.navbar {
  padding: .8rem;
  background: goldenrod;
}

.navbar-nav li {
  padding-right: 25px;
  background-color: goldenrod;
}

.nav-link {
  font-size: 1.1em !important;
}

/* landing page jumbotron */
.jumbotron {
  background: rgba(220, 220, 220, 0.2);
  padding: 1rem;
  border-radius: 0;
}

/* Footer */
footer {
  background: goldenrod;
  position: absolute;
  bottom: 0;
  height: 112px;
  width: 100%;
}

/* profile CSS */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}

/* log in css */
.form-container {
  position: absolute;
  top: 15vh;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #000;

}
